<style>
    body
    {
        /* background-color: aqua; */
        background : url("https://images.unsplash.com/photo-1524239077444-27413e763bba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60") no-repeat center center fixed;
        background-size: cover;
        height: 100%;
        overflow: hidden;
        padding-top: 14%;
        text-align: center;
        font-family: 'DM Mono', monospace;

    }
    div
    {
        line-height: 0.1;
    }
    h1
    {
        color:white;
    }
    p
    {
        color:lightcyan;
        padding-bottom: 10px;
    }
    #contact
    {
        color: white;
        text-align: end;
        padding-top: 20%;
    }
    
</style>

<ul class="right hide-on-med-and-down" >
    <li><a href="/" style="color:black;">Home</a></li>
</ul>

<h1>
    ABOUT US
</h1>

<div>
    <p>
        We want to serve the hungry soul with broken wallet
    </p>
    <p id="contact"> 
        CONTACT US : Kondamudi.Chandramouli@iiitb.org
    </p>
</div>